@import "../utils/mixins";
@import "../utils/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 20px auto;
  &_button {
    @include button;
  }
  &_title {
    width: 100%;
    text-align: center;
    font-weight: 500;
  }
  &_history,
  &_message,
  &_description,
  &_variables {
    padding: 15px 30px;
    box-shadow: 0 0 3px 1px $boxShadowColor;
  }
  &_variables {
    display: flex;
    flex-wrap: wrap;
    &-item {
      display: block;
      width: calc(100% / 3);
      padding: 5px 10px;
      margin-bottom: 10px;
      text-align: center;
      color: black;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      border: 1px solid transparent;
      &:hover {
        background-color: $mainColor;
        border: 1px solid rgb(117, 115, 115);
      }
    }
  }
  &_info {
    margin-bottom: 20px;
    display: flex;
  }
  &_history {
    flex-basis: 820px;
    margin-right: 20px;
  }
  &_message {
    flex-basis: auto;
  }
  &_description {
    list-style: none;
    &-item {
      margin-bottom: 5px;
    }
    &-item:not(:last-child) {
      border-bottom: 1px dashed $boxShadowColor;
    }
    &-title {
      color: rgb(13, 29, 49);
    }
    &-text {
      text-align: right;
      color: rgb(143, 141, 141);
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 0 3px 1px $boxShadowColor;
  &_input-wrapper {
    position: relative;
  }
  &_input {
    width: 300px;
    padding: 10px 5px;
    margin-right: 20px;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 3px 1px $boxShadowColor;
  }
  &_button {
    @include button;
    margin-bottom: 0;
  }
  &_validate-message {
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 12px;
    color: $warning;
  }
}

.history {
  &_title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
  }
  &_list {
    margin-left: 20px;
  }
  &_item {
    width: max-content;
    padding: 5px 8px;
    margin-bottom: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: 1px solid transparent;
    &:hover {
      background-color: $mainColor;
      border: 1px solid rgb(117, 115, 115);
    }
  }
}

.content {
  padding: 20px;
  box-shadow: 0 0 3px 1px $boxShadowColor;
  &_title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  &_table {
    width: 100%;
    &-row {
      display: block;
      margin-bottom: 10px;
      &:not(:last-child) {
        border-bottom: 1px dashed $boxShadowColor;
      }
    }
    &-item {
      display: block;
      &:first-child {
        width: 150px;
        color: rgb(13, 29, 49);
      }
      &:last-child {
        text-align: right;

        color: rgb(143, 141, 141);
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 889px) {
  .container {
    width: 90%;
    &_history,
    &_message {
      padding: 15px 15px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 95%;
    &_title {
      margin-bottom: 10px;
    }
    &_variables {
      padding: 10px;
      &-item {
        width: calc(100% / 2);
        padding: 5px;
      }
    }
    &_info {
      flex-direction: column;
    }
    &_history,
    &_message {
      padding: 10px;
    }
    &_history {
      height: max-content;
      margin: 0 0 20px;
      flex-basis: 0;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    &_input {
      width: 100%;
      margin: 0 0 25px;
    }
    &_button {
      margin-bottom: 0;
    }
  }

  .content {
    padding: 10px;
    &_title {
      font-size: 18px;
    }
  }
}
